<div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
        <div class="col">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            </a>
            <p class="text-muted">&copy; 2023</p>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <h5>Robolancer</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Find projects</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Register as robolancer</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Top robolancers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Articles for robolancers</a></li>
            </ul>
        </div>
        <div class="col">
            <h5>Client</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Find robolancers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Registration for companies</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Put projects out to tender</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Articles for clients</a></li>
            </ul>
        </div>
        <div class="col">
            <h5>Community</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">User agreement</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            </ul>
        </div>
    </footer>
</div>
